<nav class="navbar navbar-expand-lg bg-danger rounded-bottom ">
    <div class="container-fluid ">
        <a class="navbar-brand d-flex justify-content-center align-items-center" href="/blog">
            <img src="/images/clockLogo.png" alt="Logo" width="60" height="60" class="d-inline-block align-text-top">
            <span class="text-white fs-3" style="transform: rotate(-10deg);">Timely</span>
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-info fs-5" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fs-5" href="#">Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fs-5" aria-disabled="true">Contact</a>
          </li>
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>